* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    margin: 0;
    font-size: 24px;
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }
  
  section {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
  }
  
  #left {
    float: left;
    background: #666;
    width: 33.33%;
  }
  
  #middle {
    float: left;
    background: #888;
    width: 33.33%;
  }
  
  #right {
    float: left;
    background: #666;
    width: 33.33%;
  }
  
  #full {
    
  }
  
  #division {
   
  }
  
  aside {
    clear: both;
    background: #fff;
    width: 33.33%;
    padding: 20px 0 20px 0;
    height: 200px;
    border-style: solid;
    border-width: 1px;
  }
  
  footer {
   
  }
